# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.idea/

# Environment variables
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
postgres_data/

# Django
db.sqlite3
staticfiles/
media/

# Virtual env
venv/
env/
celerybeat-schedule
celerybeat-schedule
celerybeat-schedule
celerybeat-schedule
celerybeat-schedule-wal
celerybeat-schedule-wal

*.txt
